.button{
    border-radius: 20px;
    background: var(--color-btn);
    color:      var(--color-txt);
    outline: none;
    border: 1px solid var(--color-border);
    min-width: 75px;
    padding: 5px 20px;
    cursor: pointer;
}
.button-square{
    border-radius: 5px;
    background: var(--color-btn);
    color:      var(--color-txt);
    outline: none;
    border: 1px solid var(--color-border);
    padding: 5px 10px;
    cursor: pointer;
}
.circle-min{
    
    background: var(--color-btn);
    border: 1px solid var(--color-border);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}