.panel{
    --padding: 10px;
    @media screen and (min-width: 738px){
        --padding: 20px;
    }
    background: var(--color-panel );
    &-heading{
        padding: var(--padding);
        border-bottom: 1px solid var(--color-opaque);
        .icon{
            margin: 0 10px;
        }
        .title{
            font-size: 1em;
        }
    }
    &-body{
        padding: var(--padding);
        font-size: 0.9em;
        .item-list{
            a.expec{
                padding: 10px;
                display: block;
                color: var(--color-opaque);
            }
            a.expec.active{
                color: var(txt-opaque);
                border-left: 2px solid var(--color-first);
            }
            .activity{
                position: relative;
                display: flex;
                margin: 15px;
                .picture{
                    img{
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }
                }
                .information-activity{
                    .part{
                        padding:5px 20px 10px 20px;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        width: 2px;
                        height: 25px;
                        background: var(--color-opaque);
                        bottom: 0;
                        left: 25px;
                    }
                }
            }
            .member{
                border: 1px solid var(--color-opaque);
                width: 100%;
                box-sizing: border-box;
                padding: 0 10px;
                margin: 10px 0;
                img{
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    &.file{
                        border-radius: 0;
                    }
                }
                .part{
                    margin:0 10px;
                }
                .icon-verificate{
                    font-size: 1em;
                }
            }
        }
        .list-square{
            box-sizing: border-box;
            padding: 10px;
            .circle-min{
                width: 15px;
                height: 15px;
                border: 1px solid var(--color-opaque);
            }
            .picture{
                margin: 20px 0;
            }
            img{
                width: 60px;
                height: 60px;
            }
        }
    }
    &-foot{
        button.button{
            padding:15px 0;
            width: 100%;
            border-radius: 0;
        }
    }
}