.banner
    .information
        .cap(style="margin-top:0")
            span.icon.bold
                <i class="fas fa-folder"></i>
            span.detail.bold Branding Company
            span.min.block Metro cash
        .cap
            span.icon
                <i class="fas fa-dollar-sign"></i>
            span.detail Budject: 4,800 USD
        .cap
            span.icon
                <i class="far fa-clock"></i>
            span.detail DeadLine 20 NOV 2019
    button.data-foot.btn-second
        span DeadLine: 11 Days Remaining
